.react__curtains{
  display:flex;
  justify-content: center;
  margin-top:30px;
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:20px;
}

.curtains__title{
  color:white;
}

.curtains__details{
  color:white;
  font-weight:300;
}

.curtains-canvas {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50vw;
  height: 50vh;
  z-index: 1;
  pointer-events: none;
  display:flex;
  justify-content: center;
}

.BasicPlane {
  width: 50vw;
  height: 50vh;
}