.app{
  display:flex;
  flex-direction:column;
  align-items:center;
  /* padding:20px 0 0; */
}

.app__location{
  display:flex;
  flex-direction:column;
  align-items:center;
  /* background:#111; */
  color:white;
  padding:20px 0;
}

.app h1{
  text-align:center;
  margin-bottom:100px;
  font-size:3rem;
}

.app h2{
  width:300px;
}

.animatingOnLoad{
  display:flex;
  gap:300px;
  align-items:center;
  margin: 75px 0;
}

.animateOnLoad{
  background: rgb(97, 218, 255);
  border-radius: 30px;
  width: 150px;
  height: 150px;
  margin: 75px 0;
}

.keyframes{
  display:flex;
  gap:300px;
  align-items:center;
}

.keyframe{
  background: rgb(97, 218, 255);
  border-radius: 30px;
  width: 150px;
  height: 150px;
}

.gesture__examples{
  margin: 200px 0;
}

.gesture__title{
  margin-bottom:100px;
  font-size: 2rem;
  border-bottom:2px solid white;
  width:fit-content;
  font-weight:800;
}

.gesture__hoverAndTap{
  display:flex;
  align-items:center;
  gap:300px;
}

.gesture__drag{
  margin:250px 0;
  display:flex;
  justify-content: space-between;
}

.gesture__motionValue{
  display:flex;
  align-items:center;
  justify-content: space-between;
}

.gesture__motionValue h2{
  /* width:300px; */
}

.modal__example{
  max-width: 40%;
  max-height: 500px;
}

.lablink{
  background:rgb(53, 255, 147);
  /* clip-path: circle(4.0% at 94% 50%); */
  position:fixed;
  top:0;
  right:0;
  left:0;
  bottom:0;
  color:white;
  display:flex;
  justify-content: center;
  align-items:center;
  /* position:relative; */
}

.lablink p{
  position: absolute;
  width: 5%;
  right: 3.5%;
  top: 47.5%;
  text-align: center;
}

/* .lab__link{
  position:fixed;
  top:40%;
  right:50px;
  object-fit:contain;
  height:200px;
} */